@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Titan+One&display=swap");

@import "@xyflow/react/dist/style.css";
@import "tailwindcss";
@import "./theme.css";

@plugin "tailwindcss-spring";

:root {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  overflow: hidden;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--color-border) transparent;
}

button {
  user-select: none;
  cursor: pointer;
}

.react-flow__pane {
  cursor: var(--cursor) !important;
}

.node-connection-handle {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--color-foreground);
  background-clip: content-box;
  border: none;

  @apply spring-bounce-40 spring-duration-200;

  &:hover {
    width: 20px;
    height: 20px;
  }

  &[data-handlepos="left"] {
    left: -12px;
  }

  &[data-handlepos="right"] {
    right: -12px;
  }

  &[data-handlepos="top"] {
    top: -12px;
  }

  &[data-handlepos="bottom"] {
    bottom: -12px;
  }
}
